<h2>List of ratings</h2>

<h3>Top 3 beers</h3>


<h3>Top 3 styles</h3>


<h3>Top 3 breweries</h3>

<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating %>, rated by <%= link_to rating.user.username, rating.user %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path, :class => 'btn btn-primary' if current_user %>
